# Configurações do Banco de Dados
POSTGRESDB_NAME=
POSTGRESDB_USER=
POSTGRESDB_PASS=

# Portas
FRONT_PORT=
BACK_PORT=
DB_PORT=5432

# JWT
JWT_KEY=
JWT_EXPIRATION=


# Frontend
FRONTEND_URL=

# Credenciais do  Admin
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASS=
